<!DOCTYPE html>
<html>
<head>
	<%= render 'shared/head' %>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<meta name="STRIPE_KEY" content="<%= Rails.configuration.stripe[:publishable_key] %>" />
</head>
<body>
	<%= render 'shared/application_header' %>
	<div class="container-fluid" style="margin:0;padding:0;">
		<div class='main clearfix'>
			<div class="box">
				<div class="row-fluid">
					<div class="column span12">
						<div class="padding">
							<div class="full span12">
								<div>
									<%= yield %>
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render 'shared/application_footer' %>
</body>
</html>